*.iml
.idea
.sass-cache
/vendor
/runtime

# Mac DS_Store Files
.DS_Store

node_modules
tmp_build

# phpunit itself is not needed
phpunit.phar

# docker files moved to git submodule
/docker

# local
/.env

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
